# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.pytest_cache/
.coverage*
htmlcov/

# Environments
.venv/
.env
.env.*
!.env.example
# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
